fieldset {
	max-width: 750px;
	margin: 15px;
	border-radius: 10px;
	border: none;
	background-color: #ABC8E2;
	box-shadow: 8px 8px 12px #aaa;
}

div {
	display: flex;
	justify-content: space-around;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #C4D7ED;
}

textarea {
	margin: 5px;
}

legend {
	font-size: x-large;
	color: #375D81;
	text-shadow: 5px 5px 10px #999;
}

#txtOriginal {
	background-color: #E1E6FA;
}

#submit {
	width: 100px;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	background-color: #ABC8E2;
	border-radius: 12px 0 12px 0;
	color: #555;
	font: bold 12px Verdana;
	padding: 6px 0 6px 0;
	box-shadow: 1px 1px 3px #999;
}

#annuler {
	width: 100px;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	background-color: #ABC8E2;
	border-radius: 12px 0 12px 0;
	color: #555;
	font: bold 12px Verdana;
	padding: 6px 0 6px 0;
	box-shadow: 1px 1px 3px #999;
}

h1 {
	color: #375D81;
	text-align: center;
}



#menu {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

